{{ define "main" }}
<script id="glance-cobrowse" type="text/javascript"
src="https://beta.glancecdn.net/cobrowse/CobrowseJS.ashx?group=21371&site=production"
data-inputevents='{"ctrl-13":"showButton","shift-13":"startSession"}'
data-groupid="21371" data-site="production"
data-presence="on" data-visitorid="75001234" data-ws="beta.glance.net" data-cookiedomain="glance-video-demo-group-id-21371.onrender.com" agentvideo=1 charset="UTF-8"></script>
<div class="page-signin">
<div class="container">
    <form id="login-mobile">
      <h2 id="welcometag">Welcome</h2>
      <div class="form-group">
        <input type="userName" value="Jennifer Smith" class="form-control" id="userName" aria-describedby="userHelp" placeholder="Username">
      </div>
      <div class="form-group">
        <input type="password" value="••••••••" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Remember me</label>
      </div>
      <a href="/accounts"><button onclick="change()" type="button" id="loginjen" class="btn btn-primary mt-2">Sign in</button></a>
      <div class="forgot mt-1"><a href="#">Forgot ID/Password? »</a><br><a href="/accounts">Open an Account »</a></div>
    </form>
</div>
</div>
<style type='text/css'>
	.embeddedServiceHelpButton .helpButton .uiButton {
		background-color: #005290;
		font-family: "Arial", sans-serif;
	}
	.embeddedServiceHelpButton .helpButton .uiButton:focus {
		outline: 1px solid #005290;
	}
</style>

<script type="text/javascript">
  (function(w, d, x, id){
    s=d.createElement('script');
    s.src='https://db08fjupg2abb.cloudfront.net/amazon-connect-chat-interface-client.js';
    s.async=1;
    s.id=id;
    d.getElementsByTagName('head')[0].appendChild(s);
    w[x] =  w[x] || function() { (w[x].ac = w[x].ac || []).push(arguments) };
  })(window, document, 'amazon_connect', '8e17dd78-ecd4-402e-8ebb-31cd807ffe92');
  amazon_connect('styles', { openChat: { color: '#ffffff', backgroundColor: '#123456'}, closeChat: { color: '#ffffff', backgroundColor: '#123456'} });
  amazon_connect('snippetId', 'QVFJREFIZ2JTNzdvNlZBdTFZSVJkT0xad3RDb08wM2NZamVYWno2UE4rbHpYL2JuRlFHZXlPMTI4OWFMdTFKZFdEMDI2WFlFQUFBQWJqQnNCZ2txaGtpRzl3MEJCd2FnWHpCZEFnRUFNRmdHQ1NxR1NJYjNEUUVIQVRBZUJnbGdoa2dCWlFNRUFTNHdFUVFNZnJpa0JJaHZWY0dhRS9ia0FnRVFnQ3N0d1Q0SnU3c0NOb1AzWDZPYjBIdVFJS0V2Z0d6OUYxdDRVMXV5TmZ2d3UrWUlHREo3Uk9MdGRENlU6OlNCcWk0dEQzb3YyVWxRdDNpVXZ0bExiZ2RRTnprM2EwdEN1U2dQdFhHNEt3emc4M2JvNXc0azRacURmZFFIUmNWZVJ2TWJuS1B6QWtPYWdiNmdpMzdDeXlyRXRTSFp6dzlsS1JZdmh0Z1NGNGZURDYzSkVsWW5CbFQramd3SHNPZm1MT1AzRXp3bmIzVC91YjhiT3ZRODBhSU1IV29URT0=');
  amazon_connect('supportedMessagingContentTypes', [ 'text/plain', 'text/markdown' ]);
</script>


{{ end }}
