<!-- Footer -->
<footer id="sticky-footer" class="page-footer font-small pt-4">

  <!-- Footer Elements -->
  <script>
   jQuery( "#start-cobrowse-randomKey" ).click(function(evt) {
      GLANCE.Cobrowse.Visitor.startSession({sessionKey:"GLANCE_KEYTYPE_RANDOM"});
      });
  </script>
  <div class="container text-center"><!-- Call to action -->
        <a href="/application"><h4 class="mb-1">Get Prequalified »</h4></a>
        <a href="#" id="start-cobrowse-randomKey" onclick="return false;" class="green-border"><span>Cobrowse with Agent</span></a>
<!--         <a href="javascript:;" glance_button="startSession" class="green-border"><span>Cobrowse with Agent</span></a>
 -->  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright 
    <a href="https://ww2.glance.net" target="_blank"> Glance Networks, Inc.</a> | <a href="https://ww2.glance.net/privacy-policy/" target="_blank">Privacy Policy</a> | <a href=https://ww2.glance.net/terms/ target="_blank">Privacy/Terms </a></p>
  </div><!-- Copyright -->

  <!-- Salesforce Chat -->
</footer>
<!-- Footer -->