<script id="glance-cobrowse" type="text/javascript"
src="https://beta.glancecdn.net/cobrowse/CobrowseJS.ashx?group=21371&site=production"
data-inputevents='{"ctrl-13":"showButton","shift-13":"startSession"}'
data-groupid="21371" data-site="production"
data-presence="on" data-visitorid="75001234" data-ws="beta.glance.net" data-cookiedomain="glance-video-demo-group-id-21371.onrender.com" agentvideo=1 charset="UTF-8"></script>
<div class="row">
    <div class="col-12 col-md-9 mb-5">
<div class="card shadow border-0 application">
    <div class="card-header">
        <h5>STEP 2 OF 4</h5>
        <div class="progress">
            <div class="progress-bar w-50" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
    <div class="card-body">
        <div class="form-row">
            <legend>Personal Information</legend>
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">

                        <label for="input">First name</label>
                        <input type="firstName" class="form-control glance_controllable" id="inputfn" placeholder="First Name"> <small id="emailHelp" class="form-text text-muted">Your legal name</small>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="middleName">Middle name(optional)</label>
                        <input type="Middle name" class="form-control glance_controllable" id="middleName" placeholder="Middle name" class="glance_controllable">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Last name</label>
                        <input type="firstName" class="form-control glance_controllable" id="inputEmail4" placeholder="First Name" class="glance_controllable"> <small id="emailHelp" class="form-text text-muted">Your legal name</small>
                    </div>
                    <div class="form-group col-md-6 glance_controllable" >
                        <label for="middleName">Suffix (optional)</label>
                        <select type="suffix" class="form-control" id="exampleFormControlSelect1">
                            <option>None</option>
                            <option>Sr</option>
                            <option>Jr</option>
                            <option>II</option>
                            <option>III</option>
                            <option>Ph.D.</option>
                        </select>
                    </div>
                </div>
            </form>
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="input">Date of birth</label>
                        <input type="dateBirth" class="form-control" id="inputdb" placeholder="mm/dd/yyyy"> <small id="dateBirth" class="form-text text-muted">Your legal name</small>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="ssnumber">Social Security number</label>
                        <input type="Middle name" class="glance_masked" id="ssNumber" placeholder="XXX-XX-XXXX"><small id="ssn" class="form-text text-muted">Your SSN is needed to verify your identity</small>
                    </div>
                </div>
            </form>

            <form>
                <div>
                    <div class="form-group col-md-6">
                        <label for="email">Email Address</label>
                        <div class="form-row">
                                <label class="sr-only" for="inlineFormInputGroup">domain</label>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">email</div>
                                    </div>
                                    <input type="text" class="form-control" id="domainInlineFormInputGroup" placeholder="name@example.com">
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="middleName">Residency status</label>

                        <select type="suffix" class="form-control" id="residency-status">
                            <option>Select</option>
                            <option>U.S. Citizen</option>
                            <option>U.S. National</option>
                            <option>Eligible Noncitizen</option>
                        </select>

                    </div>
                </div>
            </form>
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="primNum">Primary phone number</label>
                        <div class="form-row">
                            <div class="col-md-12">
                                <label class="sr-only" for="inlineFormInput">Primary phone number</label>
                                <input type="text" class="form-control mb-2" id="primNuminlineFormInput" placeholder="Area code and number">
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="altNum">Alternative phone number</label>
                        <div class="form-row">
                            <div class="col-md-12">
                                <label class="sr-only" for="inlineFormInput">Alternative Phone Number</label>
                                <input type="text" class="form-control mb-2" id="altNumFormInput" placeholder="Area code and number">
                            </div>
                        </div>

                    </div>
                </div>
            </form>


        </div>
        <hr>
        <legend>Home Address</legend>
        <div class="form-group">
            <label for="inputAddress">Address</label>
            <input type="text" class="glance_controllable" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="form-group">
            <label for="inputAddress2">Address 2</label>
            <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputCity">City</label>
                <input type="text" class="form-control" id="inputCity">
            </div>
            <div class="form-group col-md-4">
                <label for="inputState">State</label>
                <select id="inputState" class="form-control">
                    <option selected>Select a state</option>
                    <option value="AL">Alabama</option>
                    <option value="AK">Alaska</option>
                    <option value="AZ">Arizona</option>
                    <option value="AR">Arkansas</option>
                    <option value="CA">California</option>
                    <option value="CO">Colorado</option>
                    <option value="CT">Connecticut</option>
                    <option value="DE">Delaware</option>
                    <option value="DC">District Of Columbia</option>
                    <option value="FL">Florida</option>
                    <option value="GA">Georgia</option>
                    <option value="HI">Hawaii</option>
                    <option value="ID">Idaho</option>
                    <option value="IL">Illinois</option>
                    <option value="IN">Indiana</option>
                    <option value="IA">Iowa</option>
                    <option value="KS">Kansas</option>
                    <option value="KY">Kentucky</option>
                    <option value="LA">Louisiana</option>
                    <option value="ME">Maine</option>
                    <option value="MD">Maryland</option>
                    <option value="MA">Massachusetts</option>
                    <option value="MI">Michigan</option>
                    <option value="MN">Minnesota</option>
                    <option value="MS">Mississippi</option>
                    <option value="MO">Missouri</option>
                    <option value="MT">Montana</option>
                    <option value="NE">Nebraska</option>
                    <option value="NV">Nevada</option>
                    <option value="NH">New Hampshire</option>
                    <option value="NJ">New Jersey</option>
                    <option value="NM">New Mexico</option>
                    <option value="NY">New York</option>
                    <option value="NC">North Carolina</option>
                    <option value="ND">North Dakota</option>
                    <option value="OH">Ohio</option>
                    <option value="OK">Oklahoma</option>
                    <option value="OR">Oregon</option>
                    <option value="PA">Pennsylvania</option>
                    <option value="RI">Rhode Island</option>
                    <option value="SC">South Carolina</option>
                    <option value="SD">South Dakota</option>
                    <option value="TN">Tennessee</option>
                    <option value="TX">Texas</option>
                    <option value="UT">Utah</option>
                    <option value="VT">Vermont</option>
                    <option value="VA">Virginia</option>
                    <option value="WA">Washington</option>
                    <option value="WV">West Virginia</option>
                    <option value="WI">Wisconsin</option>
                    <option value="WY">Wyoming</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label for="inputZip">Zip</label>
                <input type="text" class="form-control" id="inputZip">
            </div>
        </div>

       <legend class="mt-4">Your Finances</legend>
        <div class="form-row mb-4">
            <div class="form-group col-md-6">
                <label for="input">Total Annual Income</label>
                <input type="income" class="form-control" id="income" placeholder="$XXXXXXX"> <small id="totalIncome" class="form-text text-muted">Total annual income before taxes ($USD)</small>
            </div>
            <div class="form-group col-md-6">
                <label for="totalAssets">Total Assets</label>
                <input type="totalAssets" class="form-control" id="totalAssets" placeholder="$XXXXXXX"> <small id="totalIncome" class="form-text text-muted">($USD)</small>
            </div>
        </div>

        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="consent">
                <label class="form-check-label" for="consent">
                    I confirm that I have read and agree to the Terms of Use (including consent to electronically access your financial information for the purposes of this transaction), Privacy Policy, and Consent to Use Electronic Signatures and Records.
                </label>
            </div>
        </div>
        <div class="form-group mb-4">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="confirmConsent">
                <label class="form-check-label" for="confirmConsent">
                    I confirm that I have read and agree to the Consent to Contact.
                </label>
            </div>
        </div>
        <a href="/"><button type="button" class="btn btn-secondary btn-md">Cancel</button></a>
        <a href="/application"><button type="button" class="btn btn-primary btn-md">« Back</button></a>
        <a href="/application/step3-application"><button type="button" class="btn btn-success btn-md float-right">Continue »</button></a>
        </form>
    </div>
</div>
</div>
    <div class="col-md-3 col-6 aside-help">
        <img src="/img/homelending-pdf-thumb.jpg" class="img-thumbnail mb-2" alt="Global Home Lending Guide">
        <h2>Not sure what you need to apply?</h2>
        <p>Download this helpful guide to learn what you need to know about applying for a mortgage.</p>
        <p><button type="button" class="btn btn-success btn-md pdf-guide"><a href="/pdf/LeadingGuide.pdf" target="_blank"><i class="fas fa-file-pdf mr-2"></i> Home Lending Guide</a></button></p>
    </div>
</div>
