<div class="row">
    <div class="col-12" style="margin-top:-60px">
        <div>
                        <iframe src="https://stage.solex.com/welcome/d644fa06-1cf9-4965-b01e-45a8334e3f59" style="border:0px #ffffff none;" name="myiFrame" scrolling="yes" frameborder="0" marginheight="0px" marginwidth="0px" height="100%" width="100%" allowfullscreen></iframe>
        </div>
        <div class="text-center mt-5">
                <a href="/application/thank-you"><button type="button" class="btn btn-primary btn-md mr-3">« Back</button></a>
                <a href="/accounts"><button type="button" class="btn btn-primary btn-md mr-3">Go to Your Accounts</button></a>
                <a href="/"><button type="button" class="btn btn-secondary btn-md">Log Out</button></a>
        </div>
    </div>
</div>