<div class="row">
    <div class="col-12">
        <div style="height:500px; background-color:#ccc;">
            
        </div>
        <div class="text-center mt-5">
                <a href="/application/thank-you"><button type="button" class="btn btn-primary btn-md mr-3">« Back</button></a>
                <a href="/accounts"><button type="button" class="btn btn-primary btn-md mr-3">Go to Your Accounts</button></a>
                <a href="/"><button type="button" class="btn btn-secondary btn-md">Log Out</button></a>
        </div>
    </div>
</div>