<script id="glance-cobrowse" type="text/javascript"
src="https://beta.glancecdn.net/cobrowse/CobrowseJS.ashx?group=21371&site=production"
data-inputevents='{"ctrl-13":"showButton","shift-13":"startSession"}'
data-groupid="21371" data-site="production"
data-presence="on" data-visitorid="75001234" data-ws="beta.glance.net" data-cookiedomain="glance-video-demo-group-id-21371.onrender.com" agentvideo=1 charset="UTF-8"></script>
<div class="row">
    <div class="col-12 col-md-9 mb-5">
        <div class="card shadow border-0 application">
    <div class="card-header">
        <h5>STEP 1 OF 4</h5>
        <div class="progress">
            <div class="progress-bar w-25" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
    </form>
    <div class="card-body">
        <div class="form-row">
            <legend>Type of Loan</legend>
            <div class="form-group col-md-6">
                <select type="suffix" class="form-control" id="loanTypeSelect">
                    <option selected>Select Loan Type</option>
                    <option>30-yr Fixed</option>
                    <option>20-yr Fixed</option>
                    <option>10-yr Fixed</option>
                    <option>7/1 Adjustable</option>
                    <option>5/1 Adjustable</option>
                </select>
            </div>
        </div>
        </form>
        <form>
            <fieldset class="form-group loan-app-1">
                <div class="row">
                    <legend class="col-form-label col-sm-6 pt-0">Loan Purpose</legend>
                    <div class="col-md-10">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" id="invalidCheck" required>
                            <label class="form-check-label" for="gridRadios1">
                                Purchase
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2" id="invalidCheck" required>
                            <label class="form-check-label" for="gridRadios2">
                                Refinance
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group loan-app-1">
                <div class="row">
                    <legend class="col-form-label col-sm-6 pt-0">Do you have a Global Lending Account?</legend>
                    <div class="col-md-10">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="account" id="account1" value="option1">
                            <label class="form-check-label" for="account1">
                                Yes
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="account" id="account2" value="option2">
                            <label class="form-check-label" for="gridRadios2">
                                No
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
        <a href="/"><button type="button" class="btn btn-secondary btn-md">Cancel</button></a>
        <a href="/application/start-application"><button type="button" class="btn btn-success btn-md float-right">Continue »</button></a>
    </div>
</div>

</div>
    <div class="col-md-3 col-6 aside-help">
        <img src="/img/homelending-pdf-thumb.jpg" class="img-thumbnail mb-2" alt="Global Home Lending Guide">
        <h2>Not sure what you need to apply?</h2>
        <p>Download this helpful guide to learn what you need to know about applying for a mortgage.</p>
        <p><button type="button" class="btn btn-success btn-md pdf-guide"><a href="/pdf/LeadingGuide.pdf" target="_blank"><i class="fas fa-file-pdf mr-2"></i> Home Lending Guide</a></button></p>
    </div>
</div>
