<div class="row">
    <div class="col-md-7 col-12">
        <div class="card shadow border-0 application">
            <div class="card-body">
                <fieldset class="form-group personal-info">
                    <div class="row mb-2">
                        <div class="col-md-10">
                            <h2>Thank you for your application</h2>
                        </div>
                    </div>
                    <p class="mt-4"><strong>After we review your application, a mortgage consultant will be in touch to answer your questions about getting prequalified and discuss your next steps.</strong></p>
                </fieldset>
                <a href="/"><button type="button" class="btn btn-primary btn-md mr-3">Back to the homepage</button></a>
                <a href="/accounts"><button type="button" class="btn btn-primary btn-md mr-3">Go to Your Accounts</button></a>
                <a href="/"><button type="button" class="btn btn-secondary btn-md">Log Out</button></a>
            </div>
        </div>
        <div class="card shadow border-0 mt-3 account-card">
            <div class="card-body">
                <h2 class="mb-2">You have Documents to Sign</h2>
                <div class="row ">
                    <div class="col-12 form-group personal-info">
                        <div>
                            <p style="font-size: 18px"><strong>Please review and sign your mortgage documents</strong></p>
                        </div>
                        <a href="/docutech"><button type="button" class="btn btn-warning btn-lg">Sign Your Documents »</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-12">
        <div class="card border-0">
            <div class="card-body">
                <img src="/img/homelending-pdf-thumb.jpg" class="img-thumbnail mb-2" alt="Global Home Lending Guide">
                <h2>Not sure what you need to apply?</h2>
                <p>Download this helpful guide to learn what you need to know about applying for a mortgage.</p>
                <p><button type="button" class="btn btn-success btn-md pdf-guide"><a href="/pdf/LeadingGuide.pdf" target="_blank"><i class="fas fa-file-pdf mr-2"></i> Home Lending Guide</a></button></p>
            </div>
        </div>
    </div>
</div>