$enable-responsive-font-sizes: true;

//Application

.application {
		legend {
			font-size: 1.1rem;
			font-weight: 700;
			color: $main-color;
		}
		form {
			width: 100%;
		}
	}

.pdf-guide {
	font-weight: inherit;
	font-size: 1.1rem;
	a {
		color: #fff;
	}
}

iframe {
    display: block;       /* iframes are inline by default */
    border: none;         /* Reset default border */
    height: 100vh;        /* Viewport-relative units */
    width: 100vw;
}

//Accounts

 .account-card {
    .card-title {
        font-weight: 400;
    }
    .box-payment {
        background-color: #f7f7f7;
        margin: 3px 0;
    }
    p {
        font-size: 0.85rem
    }
}

.form-horizontal {
	input[type="text"] {
		min-width: 500px;		
	}
}