@import url('https://fonts.googleapis.com/css?family=Assistant:400,700&display=swap');
@import "bootstrap/scss/bootstrap";

$body-bg: #fefefe;
$body-color: #333;
$main-color: #0846a8;

$enable-rounded: false;
$enable-shadows: true;
$enable-gradients: true;

$font-main: 'Assistant', sans-serif;

